
/* mobile styles first */
body {
  font-family: Roboto, Arial, sans-serif;
}

p {
  font-size: .75rem;
}

.top-bar-container {
  height: 40px;
  width: 100%;
}

.top-bar {
  height: 40px;
  width: 100%;
  background-color: #e4004f;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
  color: #fff;
}

.top-bar-h4 {
  display: inline-block;
  position: absolute;
  padding-left: 5%;
  top: 30%;
  font-weight: 400;
}

.menu-btn {
  background: none;
  border: none;
  height: 100%;
}

/* Swap which image is shown */
.menu-btn.menu-revealed .menu-icon {
  display: none;
}

.menu-btn .close-icon {
  display: none;
}

.menu-btn.menu-revealed .close-icon {
  display: inline-block;
}

.book-menu {
  position: absolute;
  background: #fff;
  width: 100%;
  z-index: 20; /* so it's not hidden by overlay */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .15);
}

.menu-list {
  height: 0px;
  overflow: hidden;
}

.menu-list.menu-revealed {
  height: 25%;
  overflow: scroll;
}

.menu-list > li {
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.menu-list > li:last-child {
  border-bottom: 0;
}

.overlay {
  display: none;
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .45);
}

.overlay.menu-revealed, .overlay.form-revealed {
  display: block;
}

.card {
  height: 100px;
  margin: 1%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.welcome-card {
  height: 125px;
}

.welcome-card h3 {
  color: #e4004f;
}

.welcome-header {
  margin-bottom: 5%;
}

/* container for add-book form */
.input-container {
  display: none;
  position: fixed;
  top: 50px;
  background: #fff;
  width: 80%;
  left: 10%;
  height: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.input-container.form-revealed {
  display: block;
}

.card-content {
  padding-left: 3%;
  padding-top: 5%;
}

.card-btn {
  background: none;
  border: none;
  text-transform: uppercase;
}

.card-image {
  height: 75px;
  float: left;
}


/* styles for larger screens. Check on breakpoints */
@media screen and (min-width: 480px) {

  .book-menu {
    position: static;
  }

  .menu-list {
    height: 40px;
  }

  .menu-list > li {
    display: inline;
    border-bottom: 0;
  }

  /* hide menu button because we don't need it */
  .menu-btn {
    display: none;
  }

}
