/* mobile styles first */
.top-bar-container {
  height: 40px;
  width: 100%;
}

.top-bar {
  height: 40px;
  width: 100%;
  background-color: #e4004f;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
  color: #fff;
}

.card {
  height: 75px;
  margin: 1%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.card-content {
}

.card-btn {
  background: none;
  border: none;
}

.card-image {
  height: 75px;
  float: left;
}


/* styles for larger screens. Check on breakpoints */
@media screen and (min-width: 480px) {

}
