
/* mobile styles first */
.top-bar-container {
  height: 40px;
  width: 100%;
}

.top-bar {
  height: 40px;
  width: 100%;
  background-color: #e4004f;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
  color: #fff;
}

.top-bar-h4 {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 25%;
}

.menu-btn {
  background: none;
  border: none;
  height: 100%;
}

.book-menu {
  position: absolute;
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .15);
}

.menu-list {
  height: 0px;
  overflow: hidden;
}

.menu-list > li {
  height: 40px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.menu-list > li:last-child {
  border-bottom: 0;
}

.card {
  height: 75px;
  margin: 1%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.card-content {
}

.card-btn {
  background: none;
  border: none;
}

.card-image {
  height: 75px;
  float: left;
}


/* styles for larger screens. Check on breakpoints */
@media screen and (min-width: 480px) {

  .book-menu {
    position: static;
  }

  .menu-list {
    height: 40px;
  }

  .menu-list > li {
    display: inline;
    border-bottom: 0;
  }

}
