/* mobile styles first */
.card {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
}

.card-btn {
  background: none;
  border: none;
}


/* styles for larger screens. Check on breakpoints */
@media screen and (min-width: 480px) {

}
